.videoFooter {
  position: relative;
  color: white;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
}

.videoFooter__text {
  flex: 1;
}

.videoFooter__text > p {
  margin: 0;
}

.videoFooter__text > h3 {
}
.videoFooter__icon {
  position: absolute;
}

.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 20px;
  width: 60px;
}
